@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter/Inter-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter/Inter-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Source Sans';
  src: url('/fonts/SourceSans/SourceSans3-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Segoe';
  src: url('/fonts/segoe/Segoe UI.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

/* public/fonts/segoe/Segoe-UI-Italic.ttf */
/* @font-face {
  font-family: 'Segoeaa';
  src: url('/fonts/segoe/Segoe-UI-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
} */