/* custom-datepicker.css */

.react-datepicker-popper {
  @apply z-50;
}

.react-datepicker {
  @apply bg-gray-100 border border-gray-300 rounded-lg shadow-lg;
}

.react-datepicker__header {
  @apply bg-slate-700 text-white;
}

.react-datepicker__day--selected,
.react-datepicker__day--in-selecting-range,
.react-datepicker__day--in-range {
  @apply bg-slate-600 text-white;
}

.react-datepicker-wrapper {
  @apply w-full;
}
